.lowercase {
    text-transform: lowercase;
}
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}


.mylist{
    overflow: scroll;
}

.mylist::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
